.articleCard {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 0;

  text-decoration: none;

  &:last-child {
    border-bottom: none;
  }

  .date {
    font-size: 12px;
    margin: 0;
  }

  .title {
    font-size: 1rem;
    word-break: keep-all;
    margin: 0;
    line-height: 1.2;
    color: #4d5256;
    line-height: 1.61765;
  }

  .timeToRead {
    text-align: right;
    line-height: 1.2;
    margin: 0;

    i {
      font-size: 1rem;
      margin-right: .25rem;
      vertical-align: top;
    }
  }

  .description {
    margin: 0;
    line-height: 1.61765;
  }
}
