.articleCard {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;

  text-decoration: none;
  border-bottom: 1px solid #e4e6eb;

  &:last-child {
    border-bottom: none;
  }

  .date {
    margin: 0;
  }

  .title {
    font-size: 1.75rem;
    word-break: keep-all;
    margin: .5rem 0;
    line-height: 1.2;
    color: #4d5256;
  }

  .timeToRead {
    text-align: right;
    line-height: 1.2;
    margin: 0;

    i {
      font-size: 1rem;
      margin-right: .25rem;
      vertical-align: top;
    }
  }
}
